.logo{
    margin-left: 35px;
}
/* nav---------------------------- */
header .menu i{
    line-height: 110px;
}
/* -------------------home---------------- */
.home{
    margin-top: 160px;
    height: auto;

}
.home .home-text{
    margin-left: 40px;
}

.home .home-text h1{
    font-size: 50px;

}
.home .button a{
    padding: 10px 17px;
}

/* ---------------------about--------------------- */
.about-text{
    margin-left: 40px;
}
.about-btn{
    margin-top: 15px;  
}

/* ---------------------services--------------------- */
.services h1{
    font-size: 33px;
}

/* --------------------portfolio--------------------- */


.portfolio .portfolio-1{
    max-width: 340px;
    /* word-spacing: 1px; */
    height: auto;
    padding-bottom: 20px;
}
.portfolio .portfolio-2{
    max-width: 340px;
    height: auto;
    padding-bottom: 20px;
}
.portfolio .portfolio-3{
    max-width: 340px;
    height: auto;
    padding-bottom: 20px;
}
.portfolio .portfolio-4{
    max-width: 340px;
    height: auto;
    padding-bottom: 20px;
    /* min-height: 400px; */
}
.portfolio p{
    font-size: 18px;
    padding-top:10px;
    padding-left: 12px;
    padding-right: 12px;
    /* word-break: break-all; */
    text-align: justify;
}
/* ------------------contact-------------------- */
.contact h1{
    font-size: 40px;
    margin-left: 8%;
}

.contact-text .projects{
    margin-left: 55px;
    font-size: 22px;
}
.contact .contact-text p{
    font-size: 16px;
    /* margin-top: 10px; */
    margin-left: 55px;
}
.contact-text .socials{ 
    margin-left: 65px;
}
.contact-text .find_us{
    font-size: 20px;
    margin-left: 32px;
}
.contact-text .socials i{
    font-size: 22px;
    margin-left: 32px;
}
.contact-form{
    float: none;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.contact-form form input ,form textarea{
    width: 80%;
}
.contact-form form input[type="submit"]{
    margin:auto; 
}
/* ------------------footer-------------------- */
.footer{
    height: auto;
    width: 100%;
}
.footer p{
    font-size: 10px;
    margin-left: 10px;
    word-spacing: 0px;
}
.footer .arrow{
    margin-right: 20px;
}
.footer .arrow i{
    font-size: 20px;



}