*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;

}
body{
    /* background-color: #2a2a2a; */
    
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    margin: 0px;
    padding: 0px;

    /* mix-blend-mode: color-dodge; */
}
header{

    /* background-color: #cd4343; */
    min-height: 100px;
    position: sticky;
    background:transparent;
    /* border: 2px solid white; */
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
}
.logo{
    float: left;
    font-size: 50px;
    /* background-color: aquamarine; */
    font-weight: 600;
    margin-left: 150px;
    margin-top:50px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}

.logo:hover{
    color: turquoise;
}

header ul{
    float: left;
    margin-left: 270px;
    margin-top: 70px;
    font-weight: 600;
    /* background-color: aqua; */
 

}
header ul li{
    
    display: inline;
}

header ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 20px;

    font-size: 18px;
    transition: .3s;
}
header ul li a:hover{
    color: turquoise;
    /* border-bottom: 2px solid turquoise; */
    
   
}
header .menu i{
    /* display: none; */
    color: turquoise;
    display: none;
    font-size: 25px;
    line-height: 140px;
    margin-right:20px;
    float: right;
    cursor: pointer;
    transition: .8s;
}
#check{
    
    display: none;

}
#check:checked ~ ul{
    right: 0px;
}
#check:checked ~ .menu i::before{
    content: '\f00d';
}



/* --------------home----------------- */
.home{
    /* border: 2px solid white; */
    min-height: 400px;
    /* display: block; */
    width: 100%;
    margin-top: 200px;
}
.home .home-text{
    color: white;
    margin-left:150px;
    /* border: 2px solid white; */
}
.home .slide .one{
    font-size: 28px;
    margin-right: 5px;

}
.home-text h1{
    /* position: sticky; */
    font-size: 70px;
    margin-bottom: 0px; 

}
.home-text h3{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.home-text p{
    line-height:30px ;
    margin-bottom: 60px;
}

.home .button a{
    /* display: block; */
    /* margin-top: 50px; */
    color: turquoise;
    /* background-color: aqua; */
    text-decoration: none;
    padding: 15px 20px;
    border: 2px solid turquoise;
    width: 150px;
    font-size: 20px;
    transition: .3s;
}

.home .button a:hover{
    background-color: turquoise;
    color: white;
}
/* -----------------about----------------- */
.about{
    /* border: 2px solid white; */
    /* align-items: center; */

    margin-top: 140px;
    color: aliceblue;
    background:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1));
    width: 100%;
    min-height: 100vh;
    /* padding: 100px 0px 50px 100px  ; */
}
.about-container{
    /* border: 2px solid rgb(219, 12, 12); */
    padding:50px 0px 0px 100px;
    width: 100%;
    min-height:400px;
}
.about-image{
    float: left;
    /* border: 2px solid white; */
    height: auto;
}
.about-image img{
    width: 300px;
    /* height: 500px; */
    height: auto;
    border-radius: 5px;

}

.about-text{
    margin-left: 120px;
    margin-top: 20px;
    /* border: 2px solid white; */
    min-height: 300px;
    width: 520px;
    float: left;
}
.about-text h2{
    font-size: 50px;
    margin-bottom: 0px;
}
.about-text h3{
    font-size: 25px;
    margin-bottom: 30px;
    color: turquoise;
}

.about-text p{
    line-height:30px ;
    font-size: 18px;
    text-align: justify;
    /* margin-bottom: 60px; */
}
.about-btn { 
    color: turquoise;
    display: block;

    margin-top: 30px;
    width: 150px;
    border: 2px solid turquoise;
    text-decoration: none;
    padding: 15px;
    transition: .3s;
    font-size: large;
    
}

.about-btn:hover {
    background-color: turquoise;
    color: white;
}

/* --------------service------------------- */
.services{
    /* border: 2px solid white; */
    margin-top: 140px;
    width: 100%;
    min-height: 100vh;
    color: aliceblue;
    /* padding: 0px 0px 0px 100px; */
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1));
}

.services h1{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    /* margin-left: 35%; */
    color: white;
}
.services-container{
    margin-top: 80px;
    /* border: 2px solid white; */
    width: 100%;
    min-height: 500px;
    padding: 80px 0px 0px 150px;
}
.services .service-1, .service-2, .service-3{
    /* border: 2px solid white; */
    border-radius: 10px;
    background-color:  #151515; 
    max-width: 320px;
    min-height: 400px;
    margin-right: 60px;
    float: left;
    transition: .5s;

}
.services .service-1:hover{
    transform: translateY(-20px);
    cursor: pointer;
}
.services  i{
    font-size: 80px;
    margin-top: 70px;
    display: block;
    /* margin: auto; */
    /* border: 2px solid white; */
    text-align: center;
    color: turquoise;

}

.services .service-heading{ 
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 50px;
    color: white;
    text-align: center;
}

.services .service-para{
    text-align: center;
    margin-top: 10px;
    line-height: 25px;
    margin: 10px;
    
}



.services .service-2{
    /* border: 2px solid white; */

    float: left;
}

.services .service-2:hover{
    transform: translateY(-20px);
    cursor: pointer;
}

.services .service-3{
    /* border: 2px solid white; */

    float: left;
    margin-right: 0px;
    
}




.services .service-3:hover{
    transform: translateY(-20px);
    cursor: pointer;
}
/* ------------portfolio------------------ */
.portfolio{
    /* border: 2px solid white; */
    min-height: 200vh;
    margin-top: 170px;
    width: 100%;
    background-color: #000000;
    
    color: white;
    /* padding: 0px 0px 0px 100px; */
}

.portfolio h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;

}

.portfolio-container{
    margin-top: 80px;
    padding: 0px 0px 0px 150px;
    /* border: 2px solid white; */
    width: 100%;
    min-height: 500px;
}

.portfolio .portfolio-1, .portfolio-2{
    /* border: 2px solid white; */
    max-width: 450px;
    float: left;
    min-height: 500px;
    border-radius: 10px;
    background-color: #151515;
    transition: .5s;
    overflow: hidden;

    /* height: 300px; */

}
.portfolio .portfolio-1:hover {
    /* height: 300px; */
    transform: scale(1.1);
}


.portfolio  img{
    width: 100%;
    height: auto;
    transition:.5s;
}


.portfolio h2{
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center; 

}

.portfolio p{
    text-align: center;
    margin-top: 0px;
    line-height: 25px;
    margin-bottom: 10px;
}
.portfolio a{

    color: turquoise;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    
}

.portfolio .portfolio-2{
    /* border: 2px solid white; */
    float: left;
    margin-left: 100px;

    margin-bottom: 100px;
}
.portfolio .portfolio-2:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.portfolio-container2{
    clear: both;
    margin-top: 80px;
    padding: 0px 0px 0px 150px;
    /* border: 2px solid white; */
    width: 100%;
    min-height: 500px;
}
.portfolio .portfolio-3 , .portfolio-4{
    /* border: 2px solid white; */
    float: left;
    max-width: 450px;
    min-height: 500px;
    border-radius: 10px;
    background-color: #151515;
    transition: .5s;
    overflow: hidden;
    transition: .5s;

    /* margin-top: 490px; */
}
 .portfolio .portfolio-3:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.portfolio-4{
    margin-left: 100px;
}
.portfolio-4:hover{
    transform: scale(1.1);
    cursor: pointer;
}



/* -------------------contact------------ */
.contact{
    /* border: 2px solid white; */
    color: white;
    margin-top: 170px;
    min-height: 100vh;
    background-color: #000000;
    
}

.contact .contact-text{
    /* border: 2px solid white; */
    width: 660px;
    float: left;
    min-height: 100vh;
    position: relative;

}
.contact h1{
    font-size: 60px;
    margin-left: 30%;
    
    margin-bottom: 0px;
    margin-top: 130px;
}

.contact-text .projects{ 
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: 200px;
}

.contact .contact-text p{
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
    line-height: 35px;
    margin-left: 200px;
}
.contact-text .socials{
    position: absolute;
    /* border: 2px solid white; */
    max-width: 300px;
    box-sizing:border-box;
    right: 170px;
    /* margin-top: 15px; */
    top: 460px;
}
.socials h4{
    font-size: 20px;
    /* margin-bottom: 0px; */
    /* margin-top: 1px; */
}




/* .socials h3{
    font-size: 8px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 0px;
} */
.contact-text .find_us{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: 40px;
}

.contact-text .socials i{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 40px;
    color: white;
    transition: .5s;
}

.contact-text .socials i:hover{
    text-shadow: 0px 0px 10px turquoise,0px 0px 10px turquoise,0px 0px 10px turquoise ;
    color: black;
}

.contact-form{
    /* border: 2px solid white; */
    width:660px;
    float: right;
    min-height: 100vh;
    text-align: center;
    padding-top: 200px;
    /* position: relative; */
}

.contact-form form input,form textarea{
    width: 80%;
    padding: 13px 10px;
    margin-bottom: 15px;
    background-color: #232323;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
}
.contact textarea{
    resize: none;
    height: 200px;
}

.contact-form form input[type="submit"]{
    max-width: 150px;
    min-height: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color:transparent;
    border: 2px solid turquoise;
    color: turquoise;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 70px;
    display: block;
    transition: .5s;

}

.contact-form form input[type="submit"]:hover{
    background-color: turquoise;
    color: white;
}

/* ----------------footer----------------- */
.footer{
    /* position: relative; */
    /* z-index: -1; */
    clear: both;
    min-height: 80px;
    background-color: #1a1a1a;
}

.footer p{
    color: white;
    line-height: 70px;
    /* border: 2px solid white; */
    float: left;
    text-align: left;
    margin-left: 30px;
    padding-top: 0px;
    word-spacing: 5px;
}

.footer .name{
    color: turquoise;
    
    /* line-height: 100px; */
    text-shadow: 0px 0px 10px turquoise,0px 0px 10px turquoise,0px 0px 10px turquoise ;
    font-size: 15px;
}

.footer .arrow{
    float: right;
    /* border: 2px solid white; */
    /* overflow: hidden; */
    margin-right: 5%;
    line-height: 70px;
    /* margin-top: -20px; */
    /* transition: .5s; */
    width: 5%;
}

.footer .arrow i{
    font-size: 40px;
    color: turquoise;
    line-height: 70px;
    background-color:transparent;
    width:100%;
    text-align: center;
    padding: 2px;
    border-radius:10px;
    transition: .5s;
}
.footer .arrow i:hover{
    /* background-color: turquoise; */
    color: white;
}

/* ------------------responsive design------------------ */
/* --------------XL---------------------- */
/* 
